<!DOCTYPE html>
<meta charset="utf-8">
<html ng-app="jarvis">
  <head>
    <link rel="stylesheet" href="./src/style/main.css">
  </head>
  <body ng-controller="FuncController">
    <header>
      <h1>JaRVis</h1> 
      <h3>Javascript Recursion Visualizer</h3> 
    </header>
    <form name="userFunction" ng-submit="visualize(func)">
      <textarea id="globals" placeholder="Define global variables (if any)" 
      type='text' ng-model='func.globals'></textarea>
      <textarea id="body" placeholder="Define your recursive function"
      type="text" ng-model='func.body'></textarea>
      <br>
      <input id="watch" placeholder="Enter a variable to watch (optional)"
      type="text" ng-model='func.watch'/>
      <input id="call" placeholder="Call your function with the initial arguments"
      type="text" ng-model='func.call'/>
      <button>Visualize!</button>
    </form>
    <div></div>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/d3/d3.min.js"></script>
    <script src="./bower_components/d3-tip/index.js"></script>
    <script src="./src/app/func.js"></script>
  </body>
</html>
